@font-face {
    font-family: 'Mull-Regular';
    src: url('/assets/fonts/Muli-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'PlayfairDosplay-Regular';
    src: url('/assets/fonts/PlayfairDisplay-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}