// Colors

$lila: #252839;
$dark-grey: #677077;
$light-grey: #b5b5b7;
$yellow: #f2b632;

$primary-color: $yellow;
$secondary-color: $lila;
$tertiary-color: $dark-grey;
$default-color: $light-grey;

// Fonts

$muli: 'Muli-Regular', Helvetica;
$playfair: 'PlayfairDisplay-Regular', Georgia;

$primary-font-family: $muli;
$secondary-font-family: $playfair;